{% extends 'base.html' %}

{% block content %}
<section class="home">
  <div class="home-text">
    <h1>Transforming homeowners into property entrepreneurs</h1>
    <p>Looking for Modern and affordable accommodation? Feel free to search it up below!!</p>
    <div class="h-search">
      <form>
        <input type="search" placeholder="Search by location" class="search-input">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>
  <div class="home-img">
    <img src="{{ url_for('static', filename='files/Slideshow1.jpg') }}">
  </div>
</section>

{% endblock %}
